<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>
<div class="yotpo yotpo-main-widget"
  data-product-id="SKU1"
  data-name="goat"
  data-url="<%= about_path %>"
  data-image-url="http://cdn.twentytwowords.com/wp-content/uploads/Goats-in-precarious-positions-03-634x475.jpg?e5844b"
  data-description="Fresh New Goat">
</div>
