<!DOCTYPE html>
<html>
    <head>
        <title>Smiley Face</title>
        <%= javascript_include_tag "drawing.js" %>
    </head>
    <body>
        <canvas id="a" width="200" height="200">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>
    </body>
</html>
