<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help
  section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
  Tutorial</em> book</a>.
</p>
<div class="yotpo bottomLine"
data-appkey="hxIWuX8DE7NP4nVBytcGAhFPgZexr59o3dgNVYC1"
data-domain="127.0.0.1"
data-product-id="SKU1"
data-product-models="information"
data-name="Test"
data-url="<%= about_path %>"
data-image-url="http://cdn.twentytwowords.com/wp-content/uploads/Goats-in-precarious-positions-03-634x475.jpg?e5844b"
data-description="goat"
data-bread-crumbs="mammals">
</div>
