<html>
  <head>
    <title>Did you enjoy Google Cafe?</title>
    <script type="application/ld+json">
    {
      "@context":               "http://schema.org",
      "@type":                  "Restaurant",
      "name":                   "Google Cafe",
      "action": {
        "@type":                "ReviewAction",
        "review": {
          "@type":              "Review",
          "itemReviewed": {
                  "@type": "FoodEstablishment",
                  "name": "Joe's Diner"
                },
          "reviewRating": {
            "@type":            "Rating",
            "bestRating":       "5",
            "worstRating":      "1"
          }
        },
        "handler": {
          "@type":              "HttpActionHandler",
          "url":                "https://www.gaiatag.com",
          "encoding": {
            "url":              "http://schema.org/Encoding/UrlEncoded"
          },
          "method":             "http://schema.org/HttpRequestMethod/POST",
          "requiredProperty": {
            "@type":            "Property",
            "name":             "review.reviewRating.ratingValue"
          },
          "optionalProperty": {
            "@type":            "Property",
            "name":             "review.reviewBody"
          }
        }
      }
    }
    </script>
  </head>
  <body>
    <p>
      Dear John, please rate Google Cafe between 1 and 5 stars and, optionally, add a text comment.
    </p>
  </body>
</html>
